<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../main.css" />
  </head>
  <body>
    <div class="box">
      <p class="title is-4">Breadcrumbs</p>
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">Breadcrumb</a>
          </li>
        </ul>
      </nav>
      <nav
        class="breadcrumb is-centered has-bullet-separator is-small"
        aria-label="breadcrumbs"
      >
        <ul>
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">Breadcrumb</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="box">
      <p class="title is-4">Card</p>
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img
              src="../assets/handphone-removebg-preview.png"
              alt=""
              style="background-color: white"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="subtitle">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
              excepturi, numquam quas explicabo dolorum alias! Corporis ipsum
              quibusdam error aliquid temporibus ipsa aliquam tempore quos
              laboriosam nobis repellat, incidunt facilis?
            </p>
          </div>
          <div class="tags">
            <span class="tag">one</span>
            <span class="tag">one</span>
            <span class="tag">one</span>
          </div>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </body>
</html>
